# Prosjektoppgave
---

-- Skriv en kort innledning --

## Problemstilling

-- Skriv problemstillingen --

## Hva beskriver dataene?

-- Last inn dataene og beskriv det du observerer --

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

plt.rcParams["figure.figsize"] = (16, 8)

df = pd.read_csv('lønn.csv', sep=";")

df.head()

,År,Allmennpraktiserende leger,Legespesialister,Sykepleiere,Lektorer vgs,"""KPI"""
0,2015,63590,76460,39840,44880,100.0
1,2016,65700,79090,41070,46260,103.6
2,2017,68230,81490,42170,47850,105.5
3,2018,69920,83390,43550,48560,108.4
4,2019,72100,85840,45520,50140,110.8

---
Denne cellen skal slettes når du leverer oppgaven

**Bibliotek**
```python
import pandas as pd
import matplotlib.pyplot as plt
```

**Import av datasettet**
```python
df = pd.read_csv('navn.csv', sep=";")
```

**Oversikt**

- Øverste del av tabellen
```python
df.head()
```


- Nederste del av tabellen
```python
df.tail()
```


- Grunnlegende statistikk over dataene i tabellen
```python
df.describe()
```

**Plotting**

Skriv en kort tekst til hvert plot om hva du observerer 

- Større figurer
    ```python
    plt.rcParams["figure.figsize"] = (16, 8)
    ```


- Plotter hele tabellen der x-aksen 'År'-kolonnen
    ```python
    df.plot(x='År')
    plt.show()
    ```


- Plukk ut de du ønsker å se nærmere på
    ```python
    df.plot(x='navn på kolonne', y=['navn på kolonne', 'navn på kolonne'])
    plt.show()
    ```


- Differanse mellom verdier i kolonenen
    ```python
    plt.plot(df['navn på kolonne'], df["navn på kolonne"]-df["navn på kolonne"])
    plt.show()
    ```
---

## Endring
-- Utfør numerisk derivasjon på datasettet, plot og beskriv det du observerer --

## Modell

-- Lag en modell og sammenlign den med de virkelige dataene i samme plot --

## Hva har skjedd?

-- Bruk analysen over til å beskrive hva som har skjedd --

## Hvorfor har det skjedd?

-- Bruk analysen over sammen med evt. andre sammfunnsstrukturer/hendelser til å beskrive hvorfor det har skjedd --

## Hva kommer til å skje videre?

-- Bruk modellen din til beskrive den videre utviklingen --

## Oppsumering